:root {
  --mainLavender: #cfc1de;
  --mainWhite: #fff;
  --mainDark: #262730;
  --mainCreme: #fef6c9;
}

body {
  font-family: "Livvic", sans-serif;
  background: var(--mainWhite);
  color: var(--mainDark);
}

.text-title {
  font-family: "Bree Serif", serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-orange {
  color: var(--mainOrange);
}

.text-red {
  color: var(--mainRed);
}

.text-white {
  color: var(--mainWhite);
}

.btn-dark {
  background: var(--mainDark);
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainWhite);
  border-radius: 0.3rem !important;
}
.btn-dark:hover {
  cursor: pointer;
  color: var(--mainDark);
  background: var(--mainCreme);
}
